<%= form_with(model: shellscript, local: true) do |form| %>
  <% if shellscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shellscript.errors.count, "error") %> prohibited this shellscript from being saved:</h2>

      <ul>
      <% shellscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app %>
    <%= form.text_field :app %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
