<p id="notice"><%= notice %></p>

<h1>Shellscripts</h1>

<table>
  <thead>
    <tr>
      <th>App</th>
      <th>Key</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shellscripts.each do |shellscript| %>
      <tr>
        <td><%= shellscript.app %></td>
        <td><%= shellscript.key %></td>
        <td><%= shellscript.note %></td>
        <td><%= link_to 'Show', shellscript %></td>
        <td><%= link_to 'Edit', edit_shellscript_path(shellscript) %></td>
        <td><%= link_to 'Destroy', shellscript, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shellscript', new_shellscript_path %>
